.footer {
  margin-top: 50px;
  &__item {
    letter-spacing: 1px;
    background-color: $nav-color;
    &__title {
      text-shadow: 2px 2px black;
      font-size: 2em;
    }
    &__sub-title {
      text-shadow: 2px 2px black;
      font-size: 1.7em;
    }
  }
}
