.main {
  margin-top: 100px;
  min-height: 500px;
  background-color: red;
  &__header {
    letter-spacing: 5px;
    font-size: 1.8rem;
    text-shadow: 3px 3px black;
  }
  &__section--info {
    color: red;
  }
  &__google {
    background-color: black;
  }
}
