// global variables
$bg-color: rgba(110, 110, 110, 0.5);
$nav-color: rgb(80, 80, 80);
$font-color: rgb(255, 255, 255);
$font-family: "Times New Roman", Times, serif;

// break points
$md: 769px;
$lg: 992px;
$xl: 1200px;

$fb-color: rgb(59, 89, 152); // Facebook color
$ig-color: rgb(193, 53, 132); // Instagram color
$yt-color: rgb(196, 48, 43); // YouTube color

// nav link hover
$color-link: rgb(50, 50, 50);
