@import "./variables";
@import "./header";
@import "./main";
@import "./footer";
@import "./mediaQueries";

body {
  background-color: gray;
  color: white;
  font-family: $font-family;
  cursor: default;
}
